.startingSections{
		 #background: linear-gradient(#50c9c3 , #96deda) !important;
		 background: linear-gradient(#808080 , #ffffff) !important;
		 margin-bottom:100px;
         }
         .separatedSections{
         padding-bottom:100px;
         }
         .headerImage{
         border-radius:50%;
         width:25%;
         height:auto;
         }
         .roundedImage{
         border-radius:50%;
         }
         .centerElement{
         text-align:center;
         padding-bottom:45px;
         }
         .largerHeadline{
         margin-bottom: .5rem;
         font-family: 'Droid Sans', sans-serif;
         font-weight: 500;
         line-height: 1.1;
         color: #333333;
         text-align:center;
         }
		 .headerInterests{
			 font-family: Lato;
		 }
         .resizeImage{
         width:250;
         height:250px;
         }
         .styleParagraph{
         font-family: 'Lato';
         font-size: 20px;
         line-height: 35px;
         color:#333333;
		 text-align:justify;
         }
         .betweenSections{
         padding-bottom:50px;
         }
         .activitiesCSS{
         font-family: Lato;
         font-size: 20px;
         }
         .alignDate{
         text-align: left;
         }
		 .centerFooter{
			text-align:center;
			padding-bottom:30px;
		 }
		 .glyphiconStyle{
			font-size:40px;
			margin-right:15px;
			color:#337ab7;
		 }
		 .glyphiconText{
			font-family: 'Droid Sans', sans-serif;
			font-size: 18.8px;
			display:flex;
			color:#333333;
		 }
		 .idiomsStyle{
			 color:#333333;
			 font-family: 'Droid Sans', sans-serif;
			 font-size:20px;
		 }
		 /* SMARTPHONES */
		 @media (max-width: 767px) {

			[class*="col-"]{
				margin-bottom: 40px;
			}
			
			.imgCenterMobile{
				text-align:center !important;
			}
			
			.imgLeftMobile{
				padding-right:20px;
			}
			
			.headerImage{
				margin-top:25px;
				width:60%;
			}
			
			.glyphiconText{
				text-align:center;
				display:grid;
				margin-right:5%;
				font-size:15px;
			}
			
			.glyphicon{
				margin-bottom:5px;
			}
			
			.glyphicon.glyphicon-chevron-down{
				display:block !important;
			}
			
			.glyphiconSpanText{
				position: relative !important;
				bottom: 25% !important;
			}
		}
		
		/* TABLETS */
		 @media (min-width: 768px) {
			 .glyphiconText{
				text-align:center;
				display:block;
				margin-right:2.5%;
			 }
			 
			 .glyphiconSpanText{
				position: relative !important;
				bottom: 5px !important;
			}
		 }