.startingSections{
         margin-bottom:100px;
		 background: linear-gradient(#96deda , #50c9c3) !important;
		 height:475px;
         }
         .separatedSections{
         padding-bottom:100px;
         }
         .headerImage{
         border-radius:50%;
         width:25%;
         height:auto;
         }
         .roundedImage{
         border-radius:50%;
         }
         .centerElement{
         text-align:center;
         padding-bottom:45px;
         }
         .largerHeadline{
         margin-bottom: .5rem;
         font-family: 'Droid Sans', sans-serif;
         font-weight: 500;
         line-height: 1.1;
         color: #333333;
         text-align:center;
         }
		 .headerInterests{
			 font-family: Lato;
		 }
         .resizeImage{
         width:250;
         height:250px;
         }
         .styleParagraph{
         font-family: 'Lato';
         font-size: 20px;
         line-height: 35px;
         color:#333333;
		 text-align:justify;
         }
         .betweenSections{
         padding-bottom:50px;
         }
         .activitiesCSS{
         font-family: Lato;
         font-size: 20px;
         }
         .alignDate{
         text-align: left;
         }
		 .centerFooter{
			text-align:center;
			padding-bottom:30px;
		 }
		 .glyphiconStyle{
			font-size:40px;
			margin-right:15px;
		 }
		 .glyphiconText{
			font-family: 'Droid Sans', sans-serif;
			font-size: 18.8px;
			display:flex;
		 }
		 .idiomsStyle{
			 color:inherit;
			 font-family: 'Droid Sans', sans-serif;
			 font-size:20px;
		 }
		 @media (max-width: 768px) {

			[class*="col-"]{
				margin-bottom: 40px;
			}
			
			p{
				font-size:15px !important;
			}
			
			.imgCenterMobile{
				text-align:center !important;
			}
			
			.imgLeftMobile{
				padding-right:20px;
			}
			
			.headerImage{
				margin-top:25px;
				width:80%;
			}
			
			.startingSection{
				height:400px;
			}
			
			.glyphiconText{
				text-align:center;
				display:grid;
			}
			
			.glyphicon{
				margin-bottom:5px;
			}
			
			.startingSections{
				height: 765px;
			}
		}